Pods
.gradle
.idea
.kotlin
build
*.xcworkspace
*.hprof
local.properties
.DS_Store
**/.DS_Store
.terraform
/gradle-plugin/gradle/wrapper/gradle-wrapper.jar
/gradle-plugin/gradle/wrapper/gradle-wrapper.properties
.kotlin

local.version.txt
version.js
LocalTest.kt
xcuserdata
library.podspec
local
