Pods
.gradle
.idea
.kotlin
build
*.xcworkspace
*.hprof
local.properties
.DS_Store
**/.DS_Store
.terraform
/gradle-plugin/gradle/wrapper/gradle-wrapper.jar
/gradle-plugin/gradle/wrapper/gradle-wrapper.properties
.kotlin
example-app/src/commonMain/kotlin/com/lightningkite/mppexampleapp/firebaseConfiguration.kt
